# 01 Importing libraries

In [13]:
import pandas as pd
import numpy as np
import os

# 02 Importing data

In [14]:
# Set path
path = r'/Users/woodoooo/Desktop/Instacart Basket Analysis'

# Importing the data 
df_ords_prior = pd.read_csv (os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col = False)

In [15]:
df_ords_prior.shape

(32434489, 4)

In [16]:
df_ords.shape

(3421083, 8)

In [17]:
# Merging datasets (inner join)
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [18]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [19]:
# summing up all the values in the “_merge” column to see  whether there is full match or not.

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [21]:
df_merged_large.shape

(32434489, 12)

In [20]:
# Example of Merging datasets (outer join)
# df_merged_large = df_ords.merge(df_ords_prior, on='order_id', how='outer', indicator=True)

# 03 Exporting Data

In [22]:
#Export the cleaned dataframe for df_merged_large
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))